/* CSS Reset */
*{	
margin: 0;
padding: 0;
box-sizing: border box;
color: #f2f2f2;
font-family: 'Calistoga', cursive;

}
/*target the html element called body*/
/*start body {*/
	body{ 
	/*background-color: skyblue;*/
	/*background-image: url('https://media.giphy.com/media/l41lGnxllmN3YqOyI/giphy.gif');*/
	/*background-image: linear-gradient(rgba(17,126,112,0.2), rgba(0,88, 255, 0.2)),url('../images/test.jpg');*/
/*red&yellow*/
	background-image: linear-gradient(rgba(255,0,0,.20), rgba(255,255,0,.20), rgba(255,255,255,.2)),url('../images/test.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*viewport height of the screen*/
	height: 150vh;
opacity: .9;
}
.container {
	width: 450px;
	margin: 0 auto;
	text-align: center;

}
/*end body*/
/*start h1*/
h1{
	font-size: 50px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333;
	font-family: 'Comic Neue', cursive;

	/*off black*/
}
/*end h1*/
/*start h2*/
h2 {
	font-family: 'Comic Neue', cursive;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	opacity: 50%;

/*padding vs margin*/
/*margin: 10px;add space outside element*/
/*padding - adds space inside the element*/
padding: 10px;

}
/*end h2*/

/*target paragraph with class bio only*/
.bio {
	font-size: 18px;
	background-color: rgba(51,51,51,0.5);
	/*multiplied to the current line height*/
	line-height: 1.75;
/*background-color: rgb(51,51,51);*/
/*opacity: 0.5;*/
}
/*end bio*/
/*targets the element with the ID tbc*/
#img {
	height: 200px;
	width: 200px;
	border-radius: 20%;
	border-color: #333;
	border-width: 5px;
	border-style: gradient;
	margin-top: 50px;margin-bottom: 25px;

}
/*end of id me*/